<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jenkins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41A5A45B1E31BCD30059D0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A5A4741E31BCD40059D0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41A5A47F1E31BCD40059D0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
